@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default Font */
@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Regular.woff2') format('woff2'),
    url('/fonts/Poppins-Regular.woff') format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-Medium.woff2') format('woff2'),
    url('/fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src:
    url('/fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('/fonts/Poppins-SemiBold.woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Variation Font */
@font-face {
  font-family: 'Nunito';
  src:
    url('/fonts/Nunito-Bold.woff2') format('woff2'),
    url('/fonts/Nunito-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: 'Poppins', sans-serif;
  }
}

@layer utilities {
  /* Purple Gradients */
  .bg-purple-light {
    background:
      linear-gradient(0deg, var(--tw-gradient-stops)),
      linear-gradient(
        180deg,
        var(--tw-gradient-from) 0%,
        var(--tw-gradient-to) 100%
      );
    --tw-gradient-from: theme('colors.purple-light-overlay-start');
    --tw-gradient-to: theme('colors.purple-light-overlay-end');
    --tw-gradient-stops:
      theme('colors.purple-light-start'), theme('colors.purple-light-end');
  }

  .bg-purple-lightalt {
    background: linear-gradient(185.48deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.purple-lightalt-start') 17.78%,
      theme('colors.purple-lightalt-end') 95.62%;
  }

  .bg-purple-deep {
    background: linear-gradient(109.89deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.purple-deep-start') 1.07%,
      theme('colors.purple-deep-end') 100%;
  }

  .bg-purple-mix {
    background: linear-gradient(109.89deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.purple-mix-start') 1.07%,
      theme('colors.purple-mix-end') 100%;
  }

  /* Complex Purple Gradients */
  .bg-purple-sky {
    background: linear-gradient(315.94deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.purple-sky-1') -8.05%, theme('colors.purple-sky-2') 32.61%,
      theme('colors.purple-sky-3') 99.96%;
  }

  .bg-purple-skyalt {
    background: linear-gradient(329.07deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.purple-sky-1') 24.27%, theme('colors.purple-sky-2') 51.81%,
      theme('colors.purple-sky-3') 69.92%;
  }

  .bg-purple-peach {
    background: linear-gradient(89.94deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.purple-peach-start') 14.01%,
      theme('colors.purple-peach-end') 91.74%;
  }

  /* Gray Gradients */
  .bg-gray-soft {
    background: linear-gradient(180deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.gray-soft-start') 0%, theme('colors.gray-soft-end') 100%;
  }

  .bg-soft-gray {
    background: linear-gradient(182.84deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.soft-gray-start') 2.36%,
      theme('colors.soft-gray-end') 55.82%;
  }

  .bg-soft-gray-alt {
    background: linear-gradient(182.84deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.soft-gray-alt-start') 2.36%,
      theme('colors.soft-gray-alt-end') 56.12%;
  }

  /* White Gradients */
  .bg-white-fade {
    background: linear-gradient(270deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.white-fade-start') 0%,
      theme('colors.white-fade-mid') 46.27%, theme('colors.white-fade-end') 100%;
  }

  .bg-white-transparent {
    background: linear-gradient(180deg, var(--tw-gradient-stops));
    --tw-gradient-stops:
      theme('colors.white-transparent-start') 0%,
      theme('colors.white-transparent-end') 100%;
  }

  /* Text Gradients */
  .text-gradient {
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
  }

  .text-gradient-purple {
    background-image: linear-gradient(109.89deg, #7f52ff 1.07%, #fb8570 100%);
  }
}
